/* Hero */
.hero-section {
  height: 90vh;
  background: #333 url(../assets/about/img1.jpg) no-repeat center center / cover;
  background-blend-mode: overlay;
  color: var(--clr-neutral-900);
}

.hero__content {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__title {
  font-size: clamp(3rem, 1.75rem + 2vw, 6rem);
  line-height: 1;
  color: var(--clr-primary-600);
  user-select: none;
}

/* Main */

.about-section {
  padding: var(--section-padding);
}

.about__title {
  font-size: var(--section-title);
  text-transform: uppercase;
}

.about__img {
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 1rem;
}

.about__intro p {
  font-size: 1.2rem;
}

blockquote {
  width: 100%;
  padding: 1.5rem;
  background: #f3f3f3;
  font-size: 1.25rem;
  position: relative;
}

blockquote::before {
  content: open-quote;
  position: absolute;
  top: -0.25em;
  left: 0;
  font-size: 3em;
}

blockquote::after {
  content: close-quote;
  position: absolute;
  bottom: -0.25em;
  right: 0.5em;
  font-size: 3em;
}

.about__info .wrapper {
  padding: 1.25rem 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.about__info .wrapper h3 {
  font-size: clamp(2rem, 0.5rem + 1vw, 3rem);
  margin-bottom: 0.75rem;
}

.about__info .wrapper p {
  font-size: 1.2rem;
}

.about__info .wrapper blockquote:not(:last-child) {
  margin-bottom: 1rem;
}
