.header {
  background: #000;
}

.navbar {
  width: min(1100px, 95vw);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
  flex-wrap: wrap;
  z-index: 10;
}

.navbar .logo img {
  height: 60px;
}

/* Hamburger */
.hamburger {
  display: none;
  width: 3rem;
  height: 3.5rem;
  background: none;
  border: none;
  padding: 0;
  border-radius: 0.5rem;
  text-indent: 5rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  z-index: 101;
}

.hamburger:focus {
  outline: none;
}

.hamburger .inner,
.hamburger .inner::before,
.hamburger .inner::after {
  position: absolute;
  height: 0.22rem;
  background: #fff;
  border-radius: 0.25rem;
  display: block;
  transition: top 0.2s 0.2s, transform 0.2s, background-color 0.4s 0.2s;
}

.hamburger .inner {
  width: 78%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hamburger .inner::before,
.hamburger .inner::after {
  content: '';
  left: 0;
  width: 100%;
}

.hamburger .inner::before {
  top: -0.75rem;
}

.hamburger .inner::after {
  top: 0.75rem;
}

/* animation */
.hamburger.menu-active .inner {
  background-color: transparent;
  transform: backgorund-color 0.2s;
}

.hamburger.hamburger.menu-active .inner::before {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s, transform 0.2s 0.14s;
  background: #fff;
}

.hamburger.hamburger.menu-active .inner::after {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s, transform 0.2s 0.14s;
  background: #fff;
}

/* Hamburger ends */

/* navigation */
.nav__items {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 0.75rem;
}

.nav__item {
  font-size: 1.25rem;
  color: #fff;
  opacity: 0.8;
  cursor: pointer;
}

.nav__link {
  color: inherit;
  display: inline-block;
  padding: 0.25rem;
  text-transform: capitalize;
  position: relative;
}

.nav__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: currentColor;
  transform: scaleX(0);
  transition: transform 500ms ease;
  transform-origin: right;
}

.nav__item:hover,
.nav__item:focus,
.nav__item.active {
  opacity: 1;
}

.nav__link:hover::after,
.nav__link:focus::after,
.nav__link.active::after {
  transform: scaleX(1);
  transform-origin: left;
}

.nav__link.active::after {
  transform-origin: right;
}

.nav__link.active:hover::after {
  transform: scaleX(0.3);
  transform-origin: right;
}

.dropdown__container {
  position: relative;
}

.dropdown__menu {
  width: max-content;
  background: #000;
  padding: 0.75rem;
  position: absolute;
  top: calc(100% + 20px);
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  opacity: 0;
  display: none;
}

@keyframes dropdown-active {
  1% {
    display: '';
    opacity: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
